.picker{
  width: 30rem;
  max-width: 80%;
  height: 20rem;
  max-height: 30vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .location-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
 }
