
  <ion-toolbar color="primary">

 <ion-buttons slot="start">
  <ion-menu-button menu="menu1"></ion-menu-button>
  </ion-buttons>

  <ion-title>Reservaciones</ion-title>

  </ion-toolbar>


<ion-content class="ion-text-center">

  <div *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
    </div>

    <div *ngIf="!isLoading && reservaciones.length <= 0" class="ion-text-center">
      <h3>No hay reservaciones</h3>
    </div>


    <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col>

        <ion-list>

          <ion-item-sliding *ngFor="let r of reservaciones" #slidingRsv>
          <ion-item [routerLink]="['/', 'reservaciones', r.id]">

          <ion-avatar slot="start">
          <ion-img [src]="r.imgUrl"></ion-img>
          </ion-avatar>

          <ion-label>
          <h2>{{r.restaurante}}</h2>
          <p>{{r.horario}}</p>
          </ion-label>

          </ion-item>

          <ion-item-options>
          <ion-item-option color="danger" (click)="onRemoveReservacion(r.id, slidingRsv)">
          <ion-icon name="trash" slot="icon-only"></ion-icon>

          </ion-item-option>
          </ion-item-options>
          </ion-item-sliding>

          </ion-list>
          </ion-col>
          </ion-row>
          </ion-grid>

         </ion-content>
