<ion-header>
  <ion-toolbar color="primary">

 <!-- Solo se agregará este botón -->
 <ion-buttons slot="start">
  <ion-menu-button menu="menu1"></ion-menu-button>
  </ion-buttons>

    <ion-title>ofertas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" text-center>
    <!--Oferta-Element-->
    <ion-card>

    <ion-card-header>
    <ion-card-title>Hamburguesa en $1 peso</ion-card-title>
    <ion-card-subtitle>Disfruta con quien tu quieras !!</ion-card-subtitle>
    </ion-card-header>

    <ion-img src="https://i2.wp.com/liquidazona.com/wp-content/uploads/2019/05/Portada-66.png"></ion-img>

    <ion-card-content>
    <p>Vigencia hasta agotar existencias</p>
    </ion-card-content>

    </ion-card>
    </ion-col>
    </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      <!--Oferta-Element-->
      <ion-card>

      <ion-card-header>
      <ion-card-title>Otras ofertas de la semana</ion-card-title>
      <ion-card-subtitle>Para que vayas viendo!!</ion-card-subtitle>
      </ion-card-header>

      <ion-list>
        <ion-item *ngFor="let rest of ofertas">
        <ion-avatar slot="start">
        <ion-img [src]="rest.imgUrl"></ion-img>
        </ion-avatar>
        <ion-label>{{rest.titulo}}</ion-label>
        </ion-item>
        </ion-list>

      <ion-card-content>
      <p>Vigencia hasta agotar existencias</p>
      </ion-card-content>

      </ion-card>
      </ion-col>
      </ion-row>
      </ion-grid>



</ion-content>
